<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>honestfootball.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD81FF9F1BB7395E0099BD6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD81FFBB1BB7395E0099BD6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD81FFC61BB7395E0099BD6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
